input.brodband_radiobutton[type="radio"] {
  float: left;
  position: relative;
  left: 55px;
  display:block;
}

label.brodband_1 {
   background-image: none;
}

.page-node-433 .webform-client-form .form-radio {
height: 13px;
margin: -5px 16px -5px 0px;
width: 53%;
float: left;
border:none;
}

.page-node-433 .webform-client-form .form-item.form-type-checkbox.form-item-submitted-tc-checkbox-Y- input {
background: none;
}
.broadband-plan-view .book_now a {
	font-size:13px;
}
.select_outer{
	width:600px;
}

.mob_icon SPAN {background: url("../images/mobile_icon.png") repeat scroll 0 0;}

.mask {
    display: none;
}


.view-setup-box-product .view-sixth:hover .mask {
    display: block;
}


.stb_col_2:hover .mask {
    display: block;
}


.stb_col_2 {
    height: 220px;
    background: #f39c12;
    color: black;
    line-height: 32px;
    font-size: 19px;
}

.view_image SPAN.info {
    padding: 5px 50px;
}

.view-slide-show-slider-view .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
height:380px !important;
}

.view-slide-show-slider-view span#views_slideshow_controls_text_pause_slide_show_slider_view-block a,
.view-career-slider span#views_slideshow_controls_text_pause_career_slider-block a {
   background: url(../images/pause.png);
   /*background:#000;*/
   font-size: 0;
   height: 35px;
   left: 50%;
   opacity: 1;
   position: absolute;
   top: 155px;
   width: 35px;
   z-index: 99;
}
.view-slide-show-slider-view span#views_slideshow_controls_text_next_slide_show_slider_view-block a,
.view-career-slider span#views_slideshow_controls_text_next_career_slider-block a {
	background: url(../images/right.png);
	font-size: 0;
	height: 35px;
	opacity: 1;
	position: absolute;
	right: 10px;
	top: 155px;
	width: 36px;
	z-index: 99;
}

.full-packages-view .views-row-even .pack_bg {
    background: url("../images/pppack_bg.png") no-repeat scroll 0px 0px transparent;
}